<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <style media="screen">
      body
      {
        font-family: 'Lato', sans-serif;
        margin:2rem;
        white-space:pre-wrap;
      }

    </style>
    <title>US National Parks</title>
    <script src=form.js>
    </script>
  </head>

  <body>
    <h1 id="headline">National Parks in the US</h1>
    <form class="dropDown" action="/state/MI" method="get">
      {{statef.csrf_token}}
      {{statef.select_state}}
      <input type="submit" name="submit_state" value="Submit State">
    </form>

    <form class="dropDown" action="/type/National Monument" method="get">
      {{typef.csrf_token}}
      {{typef.select_type}}
      <input type="submit" name="submit_type" value="Submit Type">
    </form>

    {% for p in renderAll %}
      <h3>{{p.name}}</h3>
      <p>{{p.states}}</p>
      <p>{{p.parkType}}</p>
      <p>{{p.descrip}}</p>
    {% endfor %}

  </body>

</html>
