<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <style media="screen">
      body
      {
        font-family: 'Lato', sans-serif;
        margin:2rem;
        white-space:pre-wrap;
      }
      .results
      {
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(auto-fit, minmax(400px,1fr))
      }
    </style>
    <title>US National Parks</title>
  </head>

  <body>

    <h1>National Parks in the US</h1>

    <form id='state' action="" method="get">
      {{statef.csrf_token}}
      {{statef.select_state}}
      <input type="submit" name="submit_state" value="Submit State">
    </form>

    <form id='type' action="" method="get">
      {{typef.csrf_token}}
      {{typef.select_type}}
      <input type="submit" name="submit_type" value="Submit Type">
    </form>

    <div class="results">
      {% for p in renderAll %}
      <section>
        <h3>{{p.name}}</h3>
        <p>{{p.states}}</p>
        <p>{{p.parkType}}</p>
        <p>{{p.descrip}}</p>
      </section>
      {% endfor %}
    </div>


    <script>
      let dropS = document.getElementById('state');
      let headlineS = document.getElementById('headline');
      dropS.onchange = function()
      {
        dropS_confirm = select_state.options[select_state.selectedIndex].text;
        actionS = '/state/' + dropS_confirm
        dropS.action = actionS
        console.log(dropS.action);
      }

      let dropT = document.getElementById('type');
      dropT.onchange = function()
      {
        dropT_confirm = select_type.options[select_type.selectedIndex].text;
        actionT = '/type/' + dropT_confirm
        dropT.action = actionT
        console.log(dropT.action);
      }
    </script>
  </body>

</html>
