<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <style media="screen">
      body
      {
        font-family: 'Lato', sans-serif;
        margin:2rem;
        white-space:pre-wrap;
      }
      .results
      {
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(auto-fit, minmax(400px,1fr))
      }
    </style>
    <title>Parks in {{queryState}}</title>
  </head>

  <body>
    <h1>Parks in {{queryState}}</h1>

    <div class="results">
      {% for p in renderState %}
      <section>
        <h3>{{p.name}}</h3>
        <p>{{p.parkType}}</p>
        <p>{{p.descrip}}</p>
      </section>
      {% endfor %}
    </div>

  </body>

</html>
